apiVersion: v1
kind: Service
metadata:
  name: tito-sql
spec:
  ports:
  - port: 3306
  selector:
    app: tito
---
apiVersion: apps/v1 # for versions before 1.9.0 use titos/v1beta2
kind: Deployment
metadata:
  name: mysql
spec:
  selector:
    matchLabels:
      app: tito
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: tito
    spec:
      containers:
      - image: adess/tito-db
        name: mysql
        env:
          # Use secret in real usage
        - name: MYSQL_ROOT_PASSWORD
          value: VMware1!
        ports:
        - containerPort: 3306
          name: mysql
        volumeMounts:
        - name: mysql-persistent-storage
          mountPath: /var/lib/mysql
      volumes:
      - name: mysql-persistent-storage
        persistentVolumeClaim:
          claimName: mysql-pv-claim